# Xcode
DerivedData/
*.xcworkspace
xcuserdata/

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Podfile.lock
Pods/

# Archives
*.zip
*.xcarchive

# IDE Files
.DS_Store
.idea/
.vscode/

# Distribution
.dist
demo-apps/iOS/MyPal/App/Models/gemma-3-tflite-gemma-3-270m-it-int8-v1/gemma-3-270m-it-int8.litertlm
demo-apps/iOS/MyPal/MyPal.xcodeproj/project.pbxproj
